#company {
	color: black !important; 
	/*!important necessary to override text-primary class*/

}

#contact * {
	margin: 0 4px;
	color: black;
}

.btn {
	background-color: black;
	border: none;
}

body {
	background-color: #ffe01b;
}

@media (max-width: 575px) {
	#feature {
		margin-top: 32px;
	}
	#logo {
		margin-top: 32px;
	}
}

#footer {
	background-color: whitesmoke;
}