@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
	font-family: "Oswald" !important;
}

#company {
	color: black !important;  
}

#contact * {
	margin: 0 4px;
	color: black;
}

.btn {
	background-color: black !important;
	border: none !important;
}

.btn:hover {
	background-color: whitesmoke !important;
	color: black !important;
	border-radius: 5px !important;
	border: 1px solid black !important;
}

body {
	background-color: #ffe01b !important;
}

.card {
	background-color: #fce86b !important;
}

#hero {
  max-width: 615px;
}

#demo-wrapper {
	padding: 24px;
}

#feature {
	padding-top: 24px;
}

@media (max-width: 575px) {
	#feature {
		margin-top: 32px;
	}
	#logo {
		margin-top: 32px;
	}
}

#footer {
	background-color: whitesmoke;
}