html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 360px;
    display: flex;
    flex-direction: column;
    min-height: 100vw;
    
}

.header-cont {
    max-width: 100vw;
    position: fixed;
    top: 0;
    flex-shrink: 1;
} 

#header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width: 360px;
    margin: 0px auto;
    background-color: white;

}

.lnr-rocket {
    font-size: 40px;
    padding: 8px;
}

#company {
    align-self: center;
}

#nav-bar {
    display: flex;
    align-items: flex-end;
    margin: 2%;
    align-self: center;
}

#nav-link {
    padding: 16px 16px;
    margin: 2%;
}

#demo {
    display: flex;
    flex-direction: column;
    margin: 110px auto 20px;
    min-width: 360px;
}

#block-cont {
    font-size: 1.2em; 
    align-self: center;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    margin: 10px 0;
}

.action {
    min-height: 70px;
    border-radius: 4px;
    align-items: flex-start;
}

#sign-in {
    align-self: center;
}


#video {
    width: 100%;
}

