@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 360px;
    display: flex;
    flex-direction: column;
    min-height: 100vw;

}

.header-cont {
    max-width: 100vw;
    position: fixed;
    top: 0;
    flex-shrink: 1;

}

#header {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 360px;
    margin: 0px auto;
    background-color: #ffe01b;
    border-bottom: 1px solid black;
    font-weight: bold;
}

#header:hover{
    background-color: white;
}

.lnr-rocket {
    font-size: 32px;
    margin: 16px 0px;
    align-self: center;
}

.lnr-rocket:hover {
    font-size: 40px;
}

#company {
    align-self: center;
    margin-bottom: 16px;
}

#company:hover {
    background-color: black;
    color: white;
}

#nav-bar {
    display: flex;
    align-self: center;
    margin-top: 16px;
}

.nav-link {
    font-size: 18px;
    margin: auto 4px;
}

a {
    color: black;
}

a:hover {
    background-color: black;
    color: white;
    padding: 8px 0px 8px 0px;
}

#main-wrapper {
    background-color: #ffe01b;
    padding: 16px;
}

#demo {
    display: flex;
    flex-direction: column;
    margin: 110px auto 20px;
    outline-style: solid;
    justify-content: center;
}

#block-cont {
    font-size: 1.2em;
    align-self: center;
    padding: 0 0 0 34px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 250px;
    margin: 10px 0;
}

.action {
    min-height: 70px;
    border-radius: 4px;
    align-items: flex-start;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold;
}

#email {
    font-size: 18px;
    border: none;
}

#submit {
    border: none;
    background-color: black;
    color: white;
}

#submit:hover {
    background-color: white;
    color: black;
}

#sign-in {
    align-self: center;
}


#email:hover {
    font-size: 18px;
    border: none;
}


#sign-in {
    align-self: center;
}

#video {
    width: 100%;
}

.keyword {
    font-size: 1.2em;
    font-weight: bold;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 48px 0;
}

.box-wrapper {
    align-self: center;
}
  
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px 0px;
}
  
.feature-icon {
    font-size: 56px;
}
  
.box-title {
    font-size: 1.15em;
    font-weight: bold;
}
  
.box-detail {
    align-self: center;
}
  
.section-title {
    display: flex;
    justify-content: center;
}

#features-title {
    align-self: center;
}

#pricing {
    padding: 10px;
    margin: 70px 0 10px;
}

#client-logos {
    display: flex;
    justify-content: space-around;
}

#client-logos *{
    align-self: space-between;
    font-size: 48px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
}

#social-media {
    margin: 40px 0 0;
}

#social-media *{
    margin: 0px 2px;
}
