@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    width: 360px;
    display: flex;
    flex-direction: column;
    min-height: 100vw;
    
}

.header-cont {
    max-width: 100vw;
    position: fixed;
    top: 0;
    flex-shrink: 1;
    
} 

#header {
    display: flex;
    justify-content: space-around;
    height: 70px;
    width: 360px;
    margin: 0px auto;
    background-color: #ffe01b;
    border-bottom: 1px solid black;
    font-weight: bold;
}

#header:hover{
    background-color: white;
}

.lnr-rocket {
    font-size: 32px;
    margin: 16px 0px 16px 4px;
    align-self: center;
}

.lnr-rocket:hover {
    font-size: 40px;
}

#company {
    align-self: center;
    margin-bottom: 16px;
}

#company:hover {
    background-color: black;
    color: white;
} 

#nav-bar {
    display: flex;
    align-self: center;
    margin-top: 16px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 8px 0px 8px 0px;
}

#main-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #ffe01b;
    padding: 16px;
}

#main-wrapper:hover {
    background-color: white;
}

#demo {
    display: flex;
    flex-direction: column;
    margin: 110px 0px 20px;
    outline-style: solid;
}

#block-cont {
    font-size: 1.2em; 
    align-self: center;
    padding: 0 0 0 34px;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
    margin: 10px 0;
}

.action {
    min-height: 70px;
    border-radius: 4px;
    align-items: flex-start;
    font-family: 'Oswald';
    font-size: 20px;
    font-weight: bold;
}

#sign-in {
    align-self: center;
}

#email {
    font-size: 18px;
    border: none;
    outline-style: solid;
}

#email:hover {
    font-size: 18px;
    border: none;
    outline-style: dashed;
}

#submit {
    border: none;
    background-color: black;
    color: white;
}

#submit:hover {
    background-color: white;
    color: black;

    outline-style: dashed;
}

#sign-in {
    align-self: center;
}

#video {
    width: 100%;
}

.keyword {
    background-color: white;
    font-weight: bold;
}

#features {
    height: 1080px;
    outline-style: solid;
    padding: 10px;
    margin: 70px 0 10px;
}

#pricing {
    height: 720px;
    outline-style: solid;
    padding: 10px;
    margin: 70px 0 10px;
}

#clients {
    height: 380px;
    outline-style: solid;
    padding: 10px;
    margin: 70px 0 10px;
}
